body{
  color: #2f5572;
  padding: 10px;
  background-image: linear-gradient(to right bottom, #333, #ddd);
  -webkit-columns: 300px 2;
          columns: 300px 2;
}

.box a{
    color: #2f5572;
    display: block;
    padding: 10px;
  }